.gitattributes  text eol=lf  diff        merge=text    whitespace
.gitignore      text eol=lf  diff        merge=text    whitespace
.gitmodules     text eol=lf  diff        merge=union   whitespace
*.cmake         text eol=lf  diff        merge=text    whitespace
*.cpp           text eol=lf  diff=cpp    merge=text    whitespace
*.go            text eol=lf  diff=golang merge=text    whitespace
*.kicad_mod     text eol=lf  diff        merge=text    whitespace
*.kicad_pcb     text eol=lf  diff        merge=text    whitespace
*.kicad_prl     text eol=lf  diff        merge=text    whitespace
*.kicad_pro     text eol=lf  diff        merge=text    whitespace
*.kicad_sch     text eol=lf  diff        merge=text    whitespace
*.kicad_sym     text eol=lf  diff        merge=text    whitespace
*.lib           text eol=lf  diff        merge=binary -whitespace
*.py            text eol=lf  diff=python merge=text    whitespace
*.step          text eol=lf  diff        merge=binary -whitespace
*.STEP          text eol=lf  diff        merge=binary -whitespace
*.stp           text eol=lf  diff        merge=binary -whitespace
*.STP           text eol=lf  diff        merge=binary -whitespace
*.xml           text eol=lf  diff        merge=text    whitespace
*.xsd           text eol=lf  diff        merge=text    whitespace
*.zip          -text        -diff        merge=binary -whitespace
CMakeLists.txt  text eol=lf  diff        merge=text    whitespace
go.mod          text eol=lf  diff        merge=text    whitespace
go.work         text eol=lf  diff        merge=text    whitespace
